<!DOCTYPE html>
<html>
<head>
	<title>Meal Ingredients</title>
	<link rel="stylesheet" type="text/css" href="menustyle.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Playfair+Display" rel="stylesheet"></link>
</head>
<body>
	<header>
		<h1>Ingredients:</h1>
	</header>
	<div class="meal-time">
		<div>
			<p th:text="${menuItem.ingredients}"></p>
		<!-- 
			<form th:action="@{/addTag}">
				<input name="newTag" type="hidden" th:value="${tag.id}" />
				<label for="newTag">Add a Tag:</label>
				<input name="name" type="text" id="newTag" />
				<input type="submit" value="Add Tag" />
			</form>
			 -->
			<form>
				<h4>Tags:</h4>
				<input type="hidden" name="menuItemId" th:value="${menuItem.id}"></input>
				<ul>
					<li th:each="tag: ${menuItem.tags}"><span th:text="${tag}"></span>
						<button name="tagId" th:value="${tag.id}" th:formaction="@{/tag/delete}">delete</button></li>
					</ul>
				</form>
			</div>
		</div>
		<footer>
			<p>All meal ideas are Nathan's</p>
			<p>&copy;2017 MEAGHANATHAN</p>
		</footer>
	</body>
	</html>