<!DOCTYPE html>
<html>
<head>
	<title>Meal Ingredients</title>
	<link rel="stylesheet" type="text/css" href="menustyle.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Playfair+Display" rel="stylesheet"></link>
</head>
<body>
	<header>
		<h1>Ingredients:</h1>
	</header>
	<div class="meal-time">
		<div>
			<p th:text="${menuItem.ingredients}"></p>

			<form>
			<h4>Tags:</h4>
				<ul>
					<li th:each="tag: ${menuItem.tags}"><span th:text="${tag}"></span>
						<button th:formaction="@{/tag/delete/{tagId}(tagId=${tag.id})}">delete</button></li>	
					</ul>
				</form>
			</div>
		</div>
		<footer>
			<p>All meal ideas are Nathan's</p>
			<p>&copy;2017 MEAGHANATHAN</p>
		</footer>
	</body>
	</html>