<!DOCTYPE html>
<html>
<head>
<title>It's Mealtime!</title>
<link rel="stylesheet" type="text/css" href="menustyle.css"></link>
<link
	href="https://fonts.googleapis.com/css?family=Lobster|Playfair+Display"
	rel="stylesheet"></link>
</head>
<body>
	<header>
		<ul class="nav-menu">
			<li><a href="default.asp"><h2>Home</h2></a></li>
			<li><a href="news.asp"><h2>Menu</h2></a></li>
			<li><a href="contact.asp"><h2>Tags</h2></a></li>
		</ul>
		<h1>Time to eat:</h1>
	</header>

	<div class="meal-time">
		<div>
			<h3 th:each="currentMealTime: ${mealTimeAttribute}">
				<a th:href="@{/mealsmenu(id=${currentMealTime.id})}"
					th:text="${currentMealTime}"></a>
			</h3>
		</div>
	</div>
	<footer>
		<p>All meal ideas are Nathan's</p>
		<p>&copy;2017 MEAGHANATHAN</p>
	</footer>
</body>
</html>