<!DOCTYPE html>
<html>
<head>
	<title>Search for Meals</title>
	<link rel="stylesheet" type="text/css" href="menustyle.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Playfair+Display" rel="stylesheet"></link>
</head>
<body>
<header>
<ul class="nav-menu">
			<li><a href="default.asp"><h2>Home</h2></a></li>
			<li><a href="news.asp"><h2>News</h2></a></li>
			<li><a href="contact.asp"><h2>Contact</h2></a></li>
			<li><a href="about.asp"><h2>About</h2></a></li>
		</ul>
	<h1>What are you in the mood for?</h1>
</header>
	<div class="meal-time">
		<div th:each="currentMenuItems: ${mealTime.menuItemSet}">
			<h3><a th:href="@{/ingredients(id=${currentMenuItems.id})}" 
				th:text="${currentMenuItems.mealName}"></a></h3>
				<p th:text="${currentMenuItems.description}"></p>
			</div>
		</div>
		<footer>
		<p>All meal ideas are Nathan's</p>
		<p>&copy;2017 MEAGHANATHAN</p>
	</footer>
	</body>
	</html>