body {
	background: cornsilk;
	margin: auto;
	width: 60%;
	padding: auto;
	text-align: center;
}
.meal-time {
	background-color: blanchedalmond;
	border: 2px solid;
	border-color: burlywood;
}
h1 {
	font-family: 'Lobster', cursive;
}
h3, p {
	font-family: 'Playfair Display', serif;
}

