body {
	background: cornsilk;
	margin: auto;
	width: 60%;
	padding: auto;
	text-align: center;
}
body ul {
	list-style: none;
}
.meal-time {
	background-color: blanchedalmond;
	border: 2px solid;
	border-color: burlywood;
}
header {
	background-color: blanchedalmond;
	border: 2px solid;
	border-color: burlywood;
	margin-bottom: 30px;
}
footer {
	background-color: blanchedalmond;
	border: 2px solid;
	border-color: burlywood;
	margin-top: 30px;
}
h1, h4 {
	font-family: 'Lobster', cursive;
}
h3, p, span {
	font-family: 'Playfair Display', serif;
}

